body {
        background-color: #eaf6f6;
    }
hr {
    border-style: dotted none none;
    background-color: rgb(246, 246, 248);
    border-width: 5px;
    border-color: darkgrey;
    width: 5%;
}
h2{
   color: #66bfbf ;
}
h1{
    color: #66bfbf ;
}
h3{
    color: #66bfbf ;
}

